#hm-toast{
    display: block !important;
    box-sizing: border-box !important;
    position: fixed !important;
    right: 50% !important;
    top: 0 !important;
    padding: 0 !important;
    width: 378px !important;
    z-index: 2147483647 !important;
    background-color: black;
    color: #fff !important;
    border: 1px solid #ccc !important;
    border-top: none !important;
    border-radius: 0 !important;
    font-family: 'Helvetica Neue', Arial, sans-serif !important;
    letter-spacing: 0 !important;
    text-align: center;
}