@import 'common.scss';

.container {
  min-height: 200px;
  min-width: 300px;

  padding: 1rem;

  display: flex;
  gap: 1rem;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  > section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
}
